<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><b>ABOUT ME</b></h2>
                <hr class="light"> 
                <h4> Data Scientiest · Analyst / ML Engineer / Programmer </h4>
                <h4><b>데이터의 행간을 읽어내어 가치를 부여하는 사람이자, 도전과 혁신을 두려워하지 않고 디지털 창작물을 만드는 사람입니다.</b></h4>
                <p class="text-faded">매분 매초 쏟아져나오는 데이터의 흐름을 따라 유의미한 의미를 창출하는 데이터 사이언티스트가 되기 위해 노력합니다.</p>
            </div>
        </div>
    </div>
</section>
