<section class="bg-primary" id="about">
  <div class="container">
    <p></p>
    <p></p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p></p>
        <p></p>
        <h2 class="section-heading"><b>ABOUT ME</b></h2>
        <hr class="light" />
        <h4>Junior Game Developer</h4>
        <!-- <h4>Data Scientist · Analyst / ML Engineer / Programmer</h4> -->
        <p class="text-faded">
          <br />
          <!-- 안녕하세요! 저는 <b>주니어 데이터 분석가 김윤명</b>입니다.
          <br />데이터의 행간을 읽어내어 가치를 부여하는 사람이자, 도전과 혁신을
          두려워하지 않고 디지털 창작물을 만드는 사람입니다. 매분 매초
          쏟아져나오는 데이터의 흐름을 따라 유의미한 의미를 창출하는 데이터
          사이언티스트가 되기 위해 노력합니다. -->
          안녕하세요!<br />
          <b>좋아하는건 일단 ! 만들고 보는 BORN TO BE 개발자 김윤명</b>입니다.
          <br />유저의 니즈를 읽어내어 가치를 부여하는 사람이자, <br />도전과
          혁신을 두려워하지 않고 디지털 창작물을 만드는 사람입니다.
        </p>
        <p></p>
      </div>
    </div>
  </div>
</section>
