<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><b>LET'S GET IN TOUCH!</b></h2>
                <hr class="light">
                <p>메일로 연락주시면 최대한 빠르게 답신드리겠습니다. Notion에서 저에 대한 자세한 이야기와 제가 이제껏 수행한 다양한 프로젝트들을 만나보실 수 있습니다. 프로젝트 코드는 Github에 상시로 갈무리중입니다. </p>
            </div>
         <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.notion.so/codingym/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4" target="_blank">
            <i class="fa fa-bookmark fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Notion Portfolio</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s" style="color: white;"></i>
                <p>Github Repo</p>
            </a>
        </div>

    </div>
</section>
