<section class="bg-primary" id="edu">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p></p>
                <p></p>
                <h2 class="section-heading"><b>Educations & Experiences</b></h2>
                <hr class="light"> 
                <h4> 어문계열 / 산업공학과 / 데이터분석 / 프로그래밍 </h4>
                <p class="text-faded">중어중문학과 재학 중에 강사 및 행정고시 준비를 병행하다가 적성을 찾아 뒤늦게 산업공학을 복수전공하게 되었습니다. 2년 남짓의 짧다면 짧은 시간 동안 다양한 프로젝트를 수행하며 괄목할만한 성취를 이루었습니다. 이를 계기로 데이터분석을 업으로 삼고자 합니다.</p>
            </div> 

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p>2019.8~2023.3</p>
                    <h4><b>건국대학교 - 산업공학과 복수전공</b></h4>
                    <p class="text-muted">여러 프로그래밍 언어와 신기술을 배우는 데 거리낌이 없습니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>인내심</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>대담함</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>의사소통</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    
    </div>
       <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                       <p></p>
                <a href="https://www.notion.so/codingym/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4" class="btn btn-default btn-xl wow tada" target="_blank">자세히 알아보기</a>
            </div> 

        </div>
    </div>
</section>
