<section class="bg-primary" id="edu">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p></p>
                <p></p>
                <h2 class="section-heading"><b>Educations & Experiences</b></h2>
                <hr class="light"> 
                <h4> Data Scientist · Analyst / ML Engineer / Programmer </h4>
                <p class="text-faded">데이터의 행간을 읽어내어 가치를 부여하는 사람이자, 도전과 혁신을 두려워하지 않고 디지털 창작물을 만드는 사람입니다. 매분 매초 쏟아져나오는 데이터의 흐름을 따라 유의미한 의미를 창출하는 데이터 사이언티스트가 되기 위해 노력합니다.</p>
            </div> 

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p>2019.8~2023.3</p>
                    <h3><b>건국대학교 - 산업공학과 복수전공</b></h3>
                    <p class="text-muted">여러 프로그래밍 언어와 신기술을 배우는 데 거리낌이 없습니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>인내심</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>대담함</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>의사소통</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    
    </div>
       <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                       <p></p>
                <a href="https://www.notion.so/codingym/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4" class="btn btn-default btn-xl wow tada" target="_blank">자세히 알아보기</a>
            </div> 

        </div>
    </div>
</section>
