<section class="bg-primary" id="edu">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p></p>
        <p></p>
        <h2 class="section-heading"><b>Educations & Experiences</b></h2>
        <hr class="light" />
        <h4>어문계열 / 산업공학과 / 데이터분석 / 프로그래밍</h4>
        <p class="text-faded">
          중어중문학과 재학 중에 강사 및 행정고시 준비를 병행하다가 적성을 찾아
          뒤늦게 산업공학을 복수전공하게 되었습니다. 2년 남짓의 짧다면 짧은 시간
          동안 다양한 프로젝트를 수행하며 괄목할만한 성취를 이루었습니다. 이를
          계기로 데이터분석을 업으로 삼고자 합니다.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <p>2021.10~2022.3</p>
          <h4><b>Ubion PBL 기반 금융 빅데이터 분석가 과정</b></h4>
          <p>
            - 여러 개의 프로젝트를 진행하며 다양한 역할 수행 : 조장,
            팀장(2-track), 코딩 담당, 발표자, 문서 작성, PPT 제작 등 - 학원 자체
            중간 평가에서 3회 연속 1위 기록📎<팬데믹이 바꿔놓은 한국 주식 시장
            분석 - 업종간 동향과 시사점을 중심으로>팀 프로젝트 포함 여러
            프로젝트에서 최우수상 수상
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <p>2020.8~2024.3</p>
          <h4><b>건국대학교 - 산업공학과 복수전공</b></h4>
          <p>여러 프로그래밍 언어와 신기술을 배우는 데 거리낌이 없습니다.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <p>2020.8~2024.3</p>
          <h4><b>건국대학교 - 산업공학과 복수전공</b></h4>
          <p>여러 프로그래밍 언어와 신기술을 배우는 데 거리낌이 없습니다.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <p>2020.8~2024.3</p>
          <h4><b>건국대학교 - 산업공학과 복수전공</b></h4>
          <p>여러 프로그래밍 언어와 신기술을 배우는 데 거리낌이 없습니다.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p></p>
        <a
          href="https://www.notion.so/codingym/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4"
          class="btn btn-default btn-xl wow tada"
          target="_blank"
          >자세히 알아보기</a
        >
      </div>
    </div>
  </div>
</section>
