<section class="bg-primary2" id="tech-stack">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading"><b>Tech Stack</b></h2>
        <hr />
        <h4>Python / ML / Front-end / C# & Unity / Flutter</h4>
        <p><br />
          저는 Python을 이용해
          <b>감성분석, 자연어처리, 금융 데이터 분석, 머신러닝, 딥러닝, 시각화 등</b>을 구현할
          수 있습니다. 또한 차량 흐름 데이터를 Edge PC에 접목시켜 스마트 교통 흐름 분석 및 자율 주행 관련
          프로젝트를 진행해보았습니다. <br /><br />또한
          <b>R, SQL, Excel, C++, C#, Front-end, java, Flutter, React Native</b> 등을 두루
          다뤄보았고 문서 작성 및 디자인, 영상 편집, 모델링, 발표 등에 사용되는
          툴도 시의적절하게 사용할 수 있습니다. <br /><br />외국어의 경우 중국
          및 유럽에서 몇 달간 체류한 적이 있고, 영어, 중국어와 함께 약간의
          스페인어와 일본어를 구사할 수 있습니다. 지금은 다소 녹슬긴 했지만
          자격증 최고점을 기준으로 <b>토익 985, HSK 6급 210점</b>을 획득한 적이
          있고, 관련해서 간단한 통번역 및 교육을 진행한 경험이 다수 있습니다.<br /><br />
          그 밖에 한국사 1급, 한자 3급을 취득하여 관련된 문서를 보다 심도
          있게 분석할 수 있고, 현재도 안주하지 않고
          <b>OPIC, HSKK, 정보처리기사와 SQLD</b>
          등을 준비하고 있습니다.
        </p>
        <p></p>
        <a
          href="https://ymdev2023.notion.site/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4"
          class="btn btn-default btn-xl wow tada"
          target="_blank"
          >자세히 알아보기</a
        >
      </div>
    </div>
  </div>
</section>
