<section class="bg-primary2" id="tech-stack">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading"><b>Tech Stack</b></h2>
        <hr />
        <!-- <h4>Python / ML / Front-end / C# & Unity / Flutter</h4> -->
        <h4>Unity & C# / AI & ML / Python / Front-end / Flutter</h4>
        <p>
          <br /><br />저는 새로운 걸 배우고 도전하는 걸 무척 좋아해서
          <b>U-Day Seoul</b>을 비롯한 유니티 게임 행사도 꾸준히 참여하고 있고,
          메타버스 관련 기획으로 <b>중소벤처기업부</b>에서 <b>진흥원장상</b>을
          받기도 했습니다. <br /><br />
          최근에는 개발과 외국어에 대한 깊은 관심과 노력을 토대로
          <b>인천테크노파크</b>에서 주관하는 ICT(인공지능/데이터/블록체인)분야
          스타트업 네트워킹 프로그램에서 <b>최종 4인</b>에 선정되어
          <b>DUBAI GITEX</b> 전시회에 <b>통역/홍보/사전조사</b> 등의 역할을
          다양하게 수행하는 서포터즈 자격으로 참석할 예정입니다.

          <br /><br />
          또한 졸업 이후 Unity를 이용해 <b>각종 게임을 구현</b>해보았고, IT
          분야로 전환한 이래 꾸준히
          <b>다양한 프로그래밍 언어와 도구를 학습</b>해왔습니다. <br /><br />
          구체적으로는 C# 이외에도
          <b
            >Python, R, SQL, Excel, C++, java, Flutter, React Native, FE(HTML,
            CSS, javascript)</b
          >등을 두루 다뤄보았고 문서 작성 및 디자인, 영상 편집, 3D
          모델링(SketchUp, blender, Fusion360), 발표 등에 사용되는 툴도
          시의적절하게 사용할 수 있습니다. <br /><br />Python의 경우 Machine
          Learning Library를 활용하여
          <b
            >감성분석, 자연어처리, 금융 데이터 분석, 머신러닝, 딥러닝, 시각화
            등</b
          >을 구현할 수 있습니다. 특히 이전 회사에서 차량 흐름 데이터를 Edge
          PC에 접목시켜
          <b>스마트 교통 흐름 분석 및 자율 주행 관련 프로젝트</b>를
          진행해보았습니다. <br /><br />
        </p>
        <p></p>
        <p></p>
        <a
          href="https://ymdev2023.notion.site/YOON-MYUNG-KIM-2364a1bf079d4a6ea703e5dbc3a9a65a?pvs=4"
          class="btn btn-default btn-xl wow tada"
          target="_blank"
          >자세히 알아보기(노션으로 이동)</a
        >
      </div>
    </div>
  </div>
</section>
