<section class="bg-primary" id="tech-stack">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><b>Tech Stack</b></h2>
                <hr class="light"> 
                <h4> Python / Front-end / C# & Unity / Flutter </h4>
                <p class="text-faded">매분 매초 쏟아져나오는 데이터의 흐름을 따라 유의미한 의미를 창출하는 데이터 사이언티스트가 되기 위해 노력합니다.</p>
                <a href="https://www.notion.so/codingym/Yoon-myung-Kim-cb3b5350ffe54b6a9ad2f94b7eff68e3?pvs=4" class="btn btn-default btn-xl wow tada" target="_blank">자세히 알아보기</a>

            </div>
        </div>
    </div>
</section>
